<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>마이페이지</title>
  <link rel="stylesheet" href="/assets/css/mypage/mypage.css">
  <script src="/assets/js/mypage/mypage.js"></script>

</head>
<body>
<div class="header">
  <div class="logo">TECH X</div>
</div>

<main>
  <div class="sidebar">
    <div class="sidebar-item" id="info" onclick="loadTabContent('info')">
      <span class="sidebar-icon">👤</span>
      <span class="sidebar-link">내 정보</span>
    </div>
    <div class="sidebar-item" id="activities" onclick="loadTabContent('activities')">
      <span class="sidebar-icon">📋</span>
      <span class="sidebar-link">나의 활동</span>
    </div>
    <div class="sidebar-item" id="security" onclick="loadTabContent('security')">
      <span class="sidebar-icon">🔒</span>
      <span class="sidebar-link">보안</span>
    </div>
  </div>

  <section class="main-section" id="mainSection">

  </section>
</main>
</body>
</html>