* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
}

body {
    background-color: white;
}

/* HEADER */
.header{
    height: 80px;
    border-bottom: 1px solid #ddd;
}
.header .logo{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;


    color: #333;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
/*  */

main {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: #f3f7fb;
    padding: 20px 0;
    border-right: 1px solid #e5e5e5;
}

.sidebar-item {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
}

.sidebar-item:hover {
    background-color: #e8f0f8;
}

.sidebar-item.active {
    background-color: #e1ebf5;
    border-left: 4px solid #0078d4;
}

.sidebar-icon {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar-link {
    font-size: 14px;
}
/*  */

.main-section {
    padding: 0 40px 30px;
}
.title-container h1 {
    font-size: 24px;
    margin: 30px 0 60px 0;
}

.content-container{
    margin-top: 20px;
}

.profile-container {
    display: flex;
    margin-bottom: 60px;
    height: 120px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #efefef;
    margin-right: 30px;
}

.profile-info {
    margin-left: 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.info-container {
    margin-left: 10px;
}

.info-row {
    height: 36px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 10px;
}
.upper-info-row{
    margin-bottom: 0;
}

.info-label {
    width: 150px;
    font-weight: bold;
}
.upper-info-label{
    width: 80px;
}

.info-content {
    width: 250px;
}
.upper-info-content{

}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.submit-button {
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 30px;
}

.submit-button:hover {
    background-color: #0066b3;
}