<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- BoardMapper.xml -->
<mapper namespace="com.example.projectdemo.domain.board.mapper.BoardsMapper">
    <select id="getAllBoards" resultType="com.example.projectdemo.domain.board.dto.BoardsDTO">
        SELECT * FROM boards WHERE is_active = 1 ORDER BY sort_order
    </select>

    <select id="getBoardById" resultType="com.example.projectdemo.domain.board.dto.BoardsDTO">
        SELECT * FROM boards WHERE id = #{id} AND is_active = 1
    </select>

    <select id="getBoardsByEmpId" resultType="com.example.projectdemo.domain.board.dto.BoardsDTO">
        SELECT b.*
        FROM boards b
                 JOIN board_permissions bp ON b.id = bp.board_id
        WHERE bp.emp_id = #{empId} AND b.is_active = 1
        ORDER BY b.sort_order
    </select>

    <select id="getGlobalBoards" resultType="com.example.projectdemo.domain.board.dto.BoardsDTO">
        SELECT * FROM boards WHERE is_global = 1 AND is_active = 1 ORDER BY sort_order
    </select>
</mapper>
