<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.projectdemo.domain.employees.mapper.DepartmentsMapper">

    <resultMap id="departmentMap" type="com.example.projectdemo.domain.employees.entity.Departments">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="findAll" resultType="com.example.projectdemo.domain.employees.dto.DepartmentsDTO">
        SELECT * FROM departments ORDER BY id
    </select>

    <select id="findById" resultType="com.example.projectdemo.domain.employees.dto.DepartmentsDTO">
        SELECT * FROM departments WHERE id = #{depId}
    </select>

</mapper>