<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Edsm">

    <!-- 전자결재문서 삽입 (문서 테이블) -->
    <insert id="InsertByEd" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO groupware.edsm_document
        (edsm_form_id, title, content, retention_period, security_grade, drafter_id, draft_date, approval_date, status)
        VALUES
        (#{edsmFormId}, #{title}, #{content}, #{retentionPeriod}, #{securityGrade}, #{drafterId}, CURRENT_TIMESTAMP, null, #{status})
        <selectKey order="AFTER" keyProperty="id" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 결재라인 삽입 (결재라인 테이블) -->
    <insert id="InsertByBcApproval" parameterType="com.example.projectdemo.domain.edsm.dto.ApprovalLineDTO">
        INSERT INTO groupware.approval_line
        (document_id, drafter_id, approver_id, approval_no, status, approved_at, reason)
        VALUES
            (#{documentId}, #{drafterId}, #{approverId}, #{approvalNo}, #{status}, CURRENT_TIMESTAMP, null)
    </insert>


    <!-- 나의 모든 문서 확인-->
    <select id="SelectByAllDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE ed.status = '진행'
          AND ed.drafter_id = #{empNum}
    </select>



    <insert id="InsertByBc" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmBusinessContactDTO">
        INSERT INTO groupware.business_contact
        (edsm_document_id, drafter_id, title, content)
        VALUES
            (#{edsmDocumentId}, #{drafterId}, #{title}, #{content})
    </insert>
</mapper>
