<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Edsm">

    <!-- 전자결재문서 삽입 (문서 테이블) -->
    <insert id="InsertByEd" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO groupware.edsm_document
        (edsm_form_id, title, content, retention_period, security_grade, drafter_id, draft_date, approval_date, status)
        VALUES
        (#{edsmFormId}, #{title}, #{content}, #{retentionPeriod}, #{securityGrade}, #{drafterId}, CURRENT_TIMESTAMP, null, #{status})
        <selectKey order="AFTER" keyProperty="id" resultType="int">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 결재라인 삽입 (결재라인 테이블) -->
    <insert id="InsertByBcApproval" parameterType="com.example.projectdemo.domain.edsm.dto.ApprovalLineDTO">
        INSERT INTO groupware.approval_line
        (document_id, drafter_id, approver_id, approval_no, status, approved_at, reason)
        VALUES
            (#{documentId}, #{drafterId}, #{approverId}, #{approvalNo}, #{status}, null, null)
    </insert>







<!-- //////////////////////////////////////// Main.html(로그인한 사원이 결재권이 있는) //////////////////////////////////////////////////// -->
    <!-- 업무연락 테이블 모두 조회 -->
    <select id="SelectByAllBusinessDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT DISTINCT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum} and d.edsm_form_id = '1001'
        ORDER BY d.draft_date DESC
    </select>

    <!-- 지출결의서 테이블 모두 조회 -->
    <select id="SelectByAllCashDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT DISTINCT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum} and d.edsm_form_id = '1002'
        ORDER BY d.draft_date DESC
    </select>

    <!-- 품의서 테이블 모두 조회 -->
    <select id="SelectByAllLetterDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT DISTINCT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum} and d.edsm_form_id = '1003'
        ORDER BY d.draft_date DESC
    </select>

    <!-- 휴가신청서 테이블 모두 조회 -->
    <select id="SelectByAllLeavesDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT DISTINCT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum} and d.edsm_form_id = '1004'
        ORDER BY d.draft_date DESC
    </select>

    <!-- 연장근무신청서 테이블 모두 조회 -->
    <select id="SelectByAllOvertimeDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT DISTINCT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum} and d.edsm_form_id = '1005'
        ORDER BY d.draft_date DESC
    </select>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->









    <!-- 나의 모든 문서 확인-->
    <select id="SelectByAllDocument" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
          ed.drafter_id = #{empNum}
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 로그인한 사원이 결재권자이면서 결재상태가 대기인 문서 조회 -->
    <select id="selectByAllApprovalFromId_wait" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum}
          AND a.status = '대기'
          AND NOT EXISTS (
            SELECT 1
            FROM groupware.approval_line a2
            WHERE a2.document_id = d.id
              AND a2.status = '반려'
        ) ORDER BY d.draft_date DESC
    </select>


    <!-- 로그인한 사원이 결재권자이면서 결재상태가 예정인 문서 조회 -->
    <select id="selectByAllApprovalFromId_expected" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT d.*, e.name AS drafterName, d.draft_date AS drafterDate, a.status AS approvalStatus
        FROM groupware.edsm_document d
                 JOIN groupware.approval_line a ON d.id = a.document_id
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
        WHERE a.approver_id = #{empNum}
          AND a.status = '예정'
          AND NOT EXISTS (
            SELECT 1
            FROM groupware.approval_line a2
            WHERE a2.document_id = d.id
              AND a2.status = '반려'
        ) ORDER BY d.draft_date DESC
    </select>

 <!-- 업무연락 테이블 정보 입력 -->
    <insert id="InsertByBc" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmBusinessContactDTO">
        INSERT INTO groupware.business_contact
        (edsm_document_id, drafter_id, title, content)
        VALUES
            (#{edsmDocumentId}, #{drafterId}, #{title}, #{content})
    </insert>

    <!-- 지출결의서 테이블 정보 입력 -->
    <insert id="InsertByCdv" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmCashDisbuVoucherDTO">
        INSERT INTO groupware.cash_voucher
            (edsm_document_id, drafter_id, title, content, accounting_date, spender_id, bank, bank_account)
        VALUES
            (#{edsmDocumentId}, #{drafterId}, #{title}, #{content}, #{accountingDate}, #{spenderId}, #{bank}, #{bankAccount})
    </insert>

    <!-- 품의서 테이블 정보 입력 -->
    <insert id="InsertByLac" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmLetterOfApprovalDTO">
        INSERT INTO groupware.letter_of_approval
            (edsm_document_id, drafter_id, title, content, expected_cost)
        VALUES
            (#{edsmDocumentId}, #{drafterId}, #{title}, #{content}, #{expectedCost})
    </insert>



    <!-- 문서 번호를 통한 결재문서 정보 조회-->
    <select id="SelectByDocumentId" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            d.*,
            d.draft_date AS drafterDate,
            e.name AS drafterName,
            p.title AS drafterPosition
        FROM groupware.edsm_document d
                 JOIN groupware.employees e ON d.drafter_id = e.emp_num
                 JOIN groupware.positions p ON e.pos_id = p.id
        WHERE d.id = #{id}
    </select>

    <!-- 문서 번호를 통한 업무연락 문서Detail 가져오기 -->
    <select id="SelectByBusinessContactFromDocId" resultType="com.example.projectdemo.domain.edsm.dto.EdsmBusinessContactDTO">
        SELECT *FROM groupware.business_contact where  edsm_document_id = #{id}

    </select>

    <!-- 문서번호를 통한 지출결의서 Detail 가져오기 -->
    <select id="SelectByCashDisbuVoucherFromDocId" resultType="com.example.projectdemo.domain.edsm.dto.EdsmCashDisbuVoucherDTO">
        SELECT
               c.*,
               e.name AS spenderName,
               p.title AS spenderPosition
        FROM groupware.cash_voucher c
            JOIN groupware.employees e ON c.spender_id = e.emp_num
            JOIN groupware.positions p ON e.pos_id = p.id
                 where  c.edsm_document_id = #{id}
    </select>

    <!-- 문서번호를 통한 품의서 Detail 가져오기 -->
    <select id="SelectByLetterOfApprovalFromDocId" resultType="com.example.projectdemo.domain.edsm.dto.EdsmLetterOfApprovalDTO">
        SELECT * FROM groupware.letter_of_approval where  edsm_document_id = #{id}
    </select>

    <!-- 문서 번호를 통한 결재라인문서 정보 조회-->
    <select id="SelectByDocumentIdFromApprovalLine" resultType="com.example.projectdemo.domain.edsm.dto.ApprovalLineDTO">
        SELECT
            al.document_id,
            al.approval_no,
            al.status,
            al.approved_at AS approvalAt,
            al.reason,
            drafter.emp_num AS drafterId,
            drafter.name AS drafterName,
            posD.title AS drafterPosition,
            approver.emp_num AS approverId,
            approver.name AS approverName,
            posA.title AS approverPosition,
            dept.name AS departmentName
        FROM groupware.approval_line al
                 JOIN groupware.employees drafter ON al.drafter_id = drafter.emp_num
                 JOIN groupware.positions posD ON drafter.pos_id = posD.id
                 JOIN groupware.employees approver ON al.approver_id = approver.emp_num
                 JOIN groupware.positions posA ON approver.pos_id = posA.id
                 JOIN groupware.departments dept ON drafter.dep_id = dept.id
        WHERE al.document_id = #{id}
        ORDER BY al.approval_no ASC;
    </select>

    <update id="UpdateApprovalStatus" parameterType="map">
        UPDATE groupware.approval_line
        SET status = #{status},
            reason = #{reason},
            approved_at = NOW()
        WHERE document_id = #{documentId}
          AND approver_id = #{approverId}
          AND approval_no = #{approvalNo}
    </update>

    <update id="UpdateNextApproverStatus" parameterType="map">
        UPDATE groupware.approval_line SET status = #{newStatus}, approved_at = null WHERE document_id = #{documentId} AND approval_no = #{approvalNo} AND status = #{currentStatus}
    </update>


    <select id="SelectByRejectionReason" resultType="com.example.projectdemo.domain.edsm.dto.ApprovalLineDTO">
        select reason from groupware.approval_line where document_id = #{documentId} and approver_id = #{approverId} and status = '반려'
    </select>


    <!-- 파일 첨부 -->
    <insert id="FilesInsert" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmFilesDTO">
        INSERT INTO groupware.edsm_file_attachment
            (edsm_document_id, document_type, ori_name, sys_name, path, size, upload_date)
        VALUES
            (#{edsmDocumentId}, #{documentType}, #{oriName}, #{sysName}, #{path}, #{size}, current_timestamp)
    </insert>

    <!-- 결재문서에 포함된 파일 리스트 출력 -->
    <select id="FilesSelectFromDocId" resultType="com.example.projectdemo.domain.edsm.dto.EdsmFilesDTO">
        select * from groupware.edsm_file_attachment where edsm_document_id = #{edsmDocumentId}
    </select>



    <!-- 나의 기안문서 보기(전체 - 업무연락) -->
    <select id="SelectByAllMyWrittenDocumentBc" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1001
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(전체 - 지출결의서) -->
    <select id="SelectByAllMyWrittenDocumentCdv" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1002
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(전체 - 품의서) -->
    <select id="SelectByAllMyWrittenDocumentLoa" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1003
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(전체 - 휴가 신청서) -->
    <select id="SelectByAllMyWrittenDocumentLeaves" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1004
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(전체 - 연장근무신청서) -->
    <select id="SelectByAllMyWrittenDocumentOvertime" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1005
        ORDER BY ed.draft_date DESC
    </select>

<!-- ......... -->

    <!-- 나의 기안문서 보기(승인 - 업무연락) -->
    <select id="SelectByAllMyApprovalDocumentBc" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1001 and ed.status = '승인'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(승인 - 지출결의서) -->
    <select id="SelectByAllMyApprovalDocumentCdv" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1002 and ed.status = '승인'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(승인 - 품의서) -->
    <select id="SelectByAllMyApprovalDocumentLoa" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1003 and ed.status = '승인'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(승인 - 휴가 신청서) -->
    <select id="SelectByAllMyApprovalDocumentLeaves" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1004 and ed.status = '승인'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(승인 - 연장근무신청서) -->
    <select id="SelectByAllMyApprovalDocumentOvertime" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1005 and ed.status = '승인'
        ORDER BY ed.draft_date DESC
    </select>


    <!-- 나의 기안문서 보기 ( 반려) -->
    <!-- 나의 기안문서 보기(반려 - 업무연락) -->
    <select id="SelectByAllMyRejectedDocumentBc" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1001 and ed.status = '반려'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(반려 - 지출결의서) -->
    <select id="SelectByAllMyRejectedDocumentCdv" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1002 and ed.status = '반려'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(반려 - 품의서) -->
    <select id="SelectByAllMyRejectedDocumentLoa" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1003 and ed.status = '반려'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(반려 - 휴가 신청서) -->
    <select id="SelectByAllMyRejectedDocumentLeaves" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1004 and ed.status = '반려'
        ORDER BY ed.draft_date DESC
    </select>

    <!-- 나의 기안문서 보기(반려 - 연장근무신청서) -->
    <select id="SelectByAllMyRejectedDocumentOvertime" resultType="com.example.projectdemo.domain.edsm.dto.EdsmDocumentDTO">
        SELECT
            ed.id,
            ed.edsm_form_id AS edsmFormId,
            ed.title,
            ed.content,
            ed.retention_period AS retentionPeriod,
            ed.security_grade AS securityGrade,
            ed.drafter_id AS drafterId,
            ed.draft_date AS drafterDate,
            ed.approval_date AS approvalDate,
            ed.status,
            emp.name AS drafterName
        FROM groupware.edsm_document ed
                 JOIN groupware.employees emp ON ed.drafter_id = emp.emp_num
        WHERE
            ed.drafter_id = #{empNum} and ed.edsm_form_id = 1005 and ed.status = '반려'
        ORDER BY ed.draft_date DESC
    </select>



    <update id="callUpdateDocumentStatusProcedure" parameterType="map" statementType="CALLABLE">
        {CALL update_document_status_after_update(#{documentId, mode=IN, jdbcType=INTEGER}, #{status, mode=IN, jdbcType=VARCHAR})}
    </update>


</mapper>
