<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.projectdemo.domain.leave.dao.LeavesDAO">

    <insert id="insertByEdsm" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmBusinessContactDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO edsm_document
        (edsm_form_id, title, content, retention_period, security_grade, drafter_id, draft_date, approval_date)
        VALUES
            (1004, '휴가신청서', #{content},'3년','B등급', #{drafterId}, current_timestamp,null)

        <selectKey order="AFTER" keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertByLeaves" parameterType="com.example.projectdemo.domain.leave.dto.LeavesDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO leaves
        (emp_id, edsm_document_id, leave_type, start_date, end_date, status ,reason, created_at)
        VALUES
            (#{empId}, #{edsmDocId}, #{leaveType}, #{startDate},#{endDate},'진행',#{reason},current_timestamp)
    </insert>

    <update id="updateLeaveStatus">
        UPDATE leaves
        SET status = #{status}
        WHERE id = #{id}
    </update>

    <select id="selectByStatus" resultType="java.lang.String">
        select status from edsm_document where edsm_form_id = 1004 and drafter_id = #{drafterId} and id = #{edsmDocId}
    </select>

    <select id="selectAllLeaves" resultType="com.example.projectdemo.domain.leave.dto.LeavesDTO">
        SELECT
            id,
            emp_id AS empId,
            edsm_document_id AS edsmDocId,
            leave_type AS leaveType,
            start_date AS startDate,
            end_date AS endDate,
            status,
            reason,
            created_at AS createAt
        FROM leaves
        WHERE emp_id = #{empId}
    </select>

    <select id="getLeavesByEmpId" resultType="com.example.projectdemo.domain.leave.dto.LeavesDTO">
        SELECT
            id,
            emp_id AS empId,
            edsm_document_id AS edsmDocId,
            leave_type AS leaveType,
            start_date AS startDate,
            end_date AS endDate,
            status,
            reason,
            created_at AS createAt
        FROM leaves
        WHERE emp_id = #{empId} and status = '승인'
    </select>



    <!-- 연차를 부여하지 않은 직원 조회 -->
    <select id="selectEmployeesForLeaveGrant" resultType="EmployeesDTO">
        SELECT *
        FROM employees
        WHERE (
            -- 1년 미만이고 오늘이 입사일자 기준 매월 부여일인 경우
            (TIMESTAMPDIFF(MONTH, hire_date, CURDATE()) &lt; 12 AND DAY(hire_date) = DAY(CURDATE()))
           OR
        -- 1년 이상이고 오늘이 입사일자 기준 매년 부여일인 경우
            (TIMESTAMPDIFF(YEAR, hire_date, CURDATE()) &gt;= 1
          AND MONTH(hire_date) = MONTH(CURDATE())
          AND DAY(hire_date) = DAY(CURDATE()))
            )
          AND NOT EXISTS (
        SELECT 1
        FROM leave_grants
        WHERE leave_grants.emp_id = employees.id
          AND leave_grants.grant_date = CURDATE()
            )
    </select>

    <!-- leave_grants 에 기록 -->
    <insert id="insertLeaveGrant">
        INSERT INTO leave_grants (emp_id, grant_date, grant_type, leave_count)
        VALUES (#{empId}, CURDATE(), #{grantType}, #{leaveCount})
    </insert>

    <!-- 연차 기록 삭제 -->
    <delete id="deleteLeaveGrantsByEmpId">
        DELETE FROM leave_grants WHERE emp_id = #{empId}
    </delete>

    <!-- total_leave 초기화 후 새로운 값으로 설정 -->
    <update id="setEmployeeLeave">
        UPDATE employees
        SET total_leave = #{leaveCount}
        WHERE id = #{empId}
    </update>

    <select id="selectLeavesByEmpId" resultType="com.example.projectdemo.domain.leave.dto.LeavesDTO">
        select * from leaves where emp_id = #{empId} and status = '승인'
    </select>

    <select id="getMonthlyLeaveHours" resultType="map">
        SELECT
            MONTH(start_date) AS month,
            CONCAT(
            FLOOR(SUM(DATEDIFF(end_date, start_date) + 1) * 8), ':00'
            ) AS total_leave_hours
        FROM
            leaves
        WHERE
            status = '승인'
          AND emp_id = #{empId}
          AND YEAR(start_date) = #{year}
        GROUP BY
            MONTH(start_date)
        ORDER BY
            month
    </select>

    <!-- 문서 번호를 통한 휴가신청서 Detail 가져오기 -->
    <select id="selectByLeavesFromDocId" resultType="com.example.projectdemo.domain.leave.dto.LeavesDTO">
        SELECT * FROM leaves where  edsm_document_id = #{id}
    </select>

    <select id="getLeaveGrantsByYear" resultType="com.example.projectdemo.domain.leave.dto.LeaveGrantsDTO">
        SELECT grant_date AS grantDate,
               leave_count AS leaveCount
        FROM leave_grants
        WHERE emp_id = #{empId}
                  AND YEAR(grant_date) = #{year}
        ORDER BY grant_date
    </select>


    <select id="getEmployeeByEmpNum" parameterType="string" resultType="com.example.projectdemo.domain.employees.dto.EmployeesDTO">
        SELECT * FROM employees WHERE emp_num = #{empNum}
    </select>


</mapper>