<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.projectdemo.domain.leave.dao.LeavesDAO">

    <insert id="insertByEdsm" parameterType="com.example.projectdemo.domain.edsm.dto.EdsmBusinessContactDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO edsm_document
        (edsm_form_id, title, content, retention_period, security_grade, drafter_id, draft_date, approval_date ,status)
        VALUES
            ('1004', '휴가신청서', #{content},'3년','B등급', #{drafterId}, current_timestamp,null,'진행')

        <selectKey order="AFTER" keyProperty="id" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertByLeaves" parameterType="com.example.projectdemo.domain.leave.dto.LeavesDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO leaves
        (emp_id, edsm_document_id, leave_type, start_date, end_date, status ,reason, created_at)
        VALUES
            (#{empId}, #{edsmDocId}, #{leaveType}, #{startDate},#{endDate},'진행',#{reason},current_timestamp)
    </insert>

    <select id="selectByStatus" resultType="java.lang.String">
        select status from edsm_document where edsm_form_id = '1004' and drafter_id = #{drafterId} and id = #{edsmDocId}
    </select>

    <select id="selectAllLeaves" resultType="com.example.projectdemo.domain.leave.dto.LeavesDTO">
        SELECT
            id,
            emp_id AS empId,
            edsm_document_id AS edsmDocId,
            leave_type AS leaveType,
            start_date AS startDate,
            end_date AS endDate,
            status,
            reason,
            created_at AS createAt
        FROM leaves
        WHERE emp_id = #{empId}
    </select>


    <update id="updateByLeaves">
        UPDATE employees
        SET total_leave = total_leave +
        CASE
            WHEN TIMESTAMPDIFF(MONTH, hire_date, CURDATE()) &lt; 12
                 AND DAY(hire_date) = DAY(CURDATE()) THEN 1

            WHEN TIMESTAMPDIFF(YEAR, hire_date, CURDATE()) &gt;= 1
                 AND MONTH(hire_date) = MONTH(CURDATE())
                 AND DAY(hire_date) = DAY(CURDATE()) THEN 15
            ELSE 0
        END
    </update>

</mapper>