<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberShip">
    <select id="getChatRoomIds" resultType="int">
        select chatroom_id
        from membership where emp_id = ${id}
    </select>
    <insert id="insertMember" parameterType="map">
        INSERT INTO membership (chatroom_id, emp_id, role)
        values (#{roomId}, #{empId}, #{role})
    </insert>
    <select id="isAdmin" resultType="boolean">
        select role from membership where emp_id=${userid} and chatroom_id=${roomid}
    </select>
    <delete id="deleteChatroom">
        delete from membership where chatroom_id=${roomid}
    </delete>
    <delete id="deleteById">
        delete from membership where emp_id=${userid} and chatroom_id=${roomid}
    </delete>
    <select id="getUserList" resultType="com.example.projectdemo.domain.chat.dto.MemberShipDTO">
        select * from membership where chatroom_id=${roomid}
    </select>
    <select id="getMemberIdsByRoomId" resultType="int">
        select emp_id from membership where chatroom_id=${roomid}
    </select>
</mapper>