<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TECH X - 예약시스템</title>
  <link rel="stylesheet" href="/assets/css/attend/attendMain.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header>
  <div class="logo">
    <h1>TECH X</h1>
    <span class="title">예약 페이지</span>
  </div>
</header>

<div class="container">
  <div class="sidebar">
    <button class="add-button"><i class="fas fa-plus"></i>예약 시스템</button>
    <ul class="menu">
      <li><i class="fas fa-file-alt"></i>
    <!--    default 화면 - 전체예약현황    -->
        <a th:href="@{/booking/main}"><i class="fas fa-calendar-alt"></i>전체 예약 현황</a></li>

      <li class="dropdown active">
        <div class="dropdown-header">
          <i class="fas fa-chevron-down dropdown-icon"></i>나의 예약 목록
        </div>
        <ul class="submenu">
          <li><a th:href="@{/booking/meeting-room}"><i class="fas fa-calendar-alt"></i>회의실 예약</a></li>
          <li><a th:href="@{/booking/supplies}"><i class="fas fa-chart-line"></i>비품 예약</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<script>
  // 드롭다운 메뉴 기능
  document.addEventListener('DOMContentLoaded', function() {
    const dropdownHeader = document.querySelector('.dropdown-header');
    dropdownHeader.addEventListener('click', function() {
      this.parentElement.classList.toggle('open');
    });
  });

</script>

</body>
</html>