<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>조직도 사이드바</title>
</head>
<body>
<!-- 공통 사이드바 스타일 포함 -->
<th:block th:fragment="sidebarAssets">
    <link rel="stylesheet" th:href="@{/css/fragments/sidebar-common.css}">
</th:block>

<!-- 조직도 사이드바 -->
<div th:fragment="sidebar" id="sidebar" class="sidebar">
    <div class="sidebar-menu">
        <ul id="deptTree">
            <!-- 회사 -->
            <li class="toggle-menu">
                <a href="/org"><span class="sidebar-icon">📢</span>전체 &nbsp;<i class="fas fa-chevron-down"></i></a>
                <ul id="departmentList" class="submenu open">
                    <!-- 부서 목록이 동적으로 추가됨 -->
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- 공통 사이드바 스크립트 포함 -->
<th:block th:fragment="sidebarScripts">
    <script th:src="@{/js/fragments/sidebar-common.js}"></script>
</th:block>

</body>
</html>